<!-- Mobile menu -->
{% assign copy_date = 'now' | date: '%Y' %}
<mobile-menu>
  <section class="fixed top-0 left-0 w-full h-0 overflow-hidden bg-white/90 transition-all opacity-60 in-[.mobile-menu-open]:block in-[.mobile-menu-open]:opacity-100 in-[.mobile-menu-open]:h-[80vh] backdrop-blur-sm z-3 md:hidden">
    <div class="container pt-22 in-[.has-announcement]:pt-30.5 flex flex-col justify-between h-full">
      <ul class="flex flex-col gap-2">
        {% for link in linklists['main-menu'].links %}
          <li>
            <a class="text-2xl hover:text-amber-400 transition duration-500" href="{{ link.url }}">
              {{- link.title -}}
            </a>
            {% if link.links != blank %}
              <ul class="flex flex-col gap-2 pl-2 py-2">
                {% for childlink in link.links %}
                  <li>
                    <a
                      href="{{ childlink.url }}"
                      class="text-base hover:text-amber-400 transition duration-500"
                    >
                      {{ childlink.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      <p class="text-sm text-black/60 mb-4">
        &copy; {{ copy_date }}
        {{ shop.name }} All rights reserved.
      </p>
    </div>
  </section>
  <section
    id="mobile-menu-overlay"
    class="fixed top-0 left-0 w-full h-0 in-[.mobile-menu-open]:h-full bg-transparent z-1 md:hidden"
  ></section>
</mobile-menu>
