{% comment %}
  This section is used in the cart template to render /cart page with an
  overview of the items in customer's cart.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/cart
{% endcomment %}

<section>
  <div class="container">
    <h1 class="h3 uppercase mb-3">Your Cart</h1>
    {% if cart.item_count > 0 %}
      <div class="grid lg:grid-cols-12 gap-10 mb-20">
        <div class="lg:col-span-7 w-full">
          <product-cart data-section-id="{{ section.id }}">
            {% form 'cart', cart %}
              <fieldset>
                <div class="border border-black/10 rounded-[20px] px-6">
                  {% comment %} {{ cart | json }} {% endcomment %}
                  {% for item in cart.items %}
                    <cart-product-item>
                      <div class="flex flex-col py-6 {% unless forloop.last %}border-b border-b-black/10{% endunless %} relative">
                        <div class="flex gap-4">
                          <div class="shrink-0">
                            <a class="inline-flex size-31 bg-black/10 rounded-lg overflow-hidden" href="/product">
                              {% if item.image %}
                                {{
                                  item.image
                                  | image_url: width: 150, height: 150
                                  | image_tag: class: 'size-full object-contain'
                                }}
                              {% endif %}
                            </a>
                          </div>
                          <div class="flex flex-col justify-between w-full">
                            <div class="mb-4">
                              <a href="{{ item.url }}">
                                <h3 class="h6 font-bold">{{ item.title }}</h3>
                              </a>

                              <div class="flex flex-col gap-1 text-sm">
                                {% for option in item.options_with_values %}
                                  <div class="">
                                    <span>{{ option.name }}:</span>
                                    <span class="text-black/60">{{ option.value }}</span>
                                  </div>
                                {% endfor %}
                              </div>
                            </div>
                            <div class="flex gap-2 justify-between items-center w-full">
                              <p class="text-sm text-black/60">
                                <span>
                                  {{ item.final_price | money }}
                                </span>
                                {% if item.original_price != item.final_price %}
                                  <s class="compare-at-price">
                                    {% if item.variant.compare_at_price > item.original_price %}
                                      {{ item.variant.compare_at_price | money }}
                                    {% else %}
                                      {{ item.original_price | money }}
                                    {% endif %}
                                  </s>
                                {% else %}
                                  {% if item.variant.compare_at_price > item.original_price %}
                                    <s class="compare-at-price">{{ item.variant.compare_at_price | money }}</s>
                                  {% endif %}
                                {% endif %}
                              </p>
                              {% if item.line_price != item.original_line_price %}
                                <p class="font-bold">
                                  <span>{{ item.line_price | money }}</span>
                                  <s>{{ item.original_line_price | money }}</s>
                                </p>
                              {% endif %}
                              <div class="quantity-component small">
                                <button type="button" data-quantity-minus>−</button>
                                <input
                                  data-quantity-input
                                  type="number"
                                  name="updates[]"
                                  min="{{ item.variant.quantity_rule.min }}"
                                  {% if item.variant.quantity_rule.max %}
                                    max="{{ item.variant.quantity_rule.max }}"
                                  {% endif %}
                                  value="{{ item.quantity }}"
                                >
                                <button type="button" data-quantity-plus>+</button>
                              </div>
                            </div>
                          </div>
                          <a
                            href="{{ item.url_to_remove }}"
                            data-remove-item
                            class="absolute top-4.5 right-0 text-red-500 cursor-pointer p-2"
                          >
                            {% render 'icon', icon: 'bin', class: 'size-4.5' %}
                          </a>
                        </div>
                      </div>
                    </cart-product-item>
                  {% endfor %}
                </div>
                <div class="flex justify-end py-4">
                  <button class="button">Update Cart</button>
                </div>
              </fieldset>
            {% endform %}
          </product-cart>
        </div>
        <div class="lg:col-span-5">
          <div class="border border-black/10 rounded-[20px] px-6 py-5">
            <h5 class="font-bold mb-6 leading-none">Order Summary</h5>
            <div class="mb-6">
              <div class="flex flex-col gap-4 border-b border-black/10 pb-4 mb-4">
                <div class="flex justify-between text-xl">
                  <span class="text-black/60">Subtotal</span>
                  <strong>{{ cart.items_subtotal_price | money }}</strong>
                </div>
                <div class="flex justify-between text-xl">
                  {% assign discount_perc = cart.total_discount
                    | times: 100.0
                    | divided_by: cart.original_total_price
                    | round
                  %}
                  <span class="text-black/60">Discount (-{{ discount_perc }}%)</span>
                  <strong>{{ cart.total_discount | money }}</strong>
                </div>
              </div>
              <div class="flex justify-between text-xl">
                <span>Total</span>
                <strong>{{ cart.total_price | money_with_currency }}</strong>
              </div>
            </div>
            <div class="flex gap-3 relative">
              <input type="text" class="text-input pl-13" placeholder="Add promo code">
              <button class="button bg-black text-white w-30 font-regular text-base">Apply</button>
              <span class="text-black/40 absolute top-3.5 left-5">
                {% render 'icon', icon: 'discount', class: 'size-5' %}
              </span>
            </div>
            <div>
              <button class="button flex gap-4 text-white w-full mt-6">
                <span>Go to Checkout</span>
                {% render 'icon', icon: 'arrow-right', class: 'size-5' %}
              </button>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="container">
        <p>Your cart is currently empty.</p>
      </div>
    {% endif %}
  </div>
</section>
{% comment %}
  <section>
    <div class="container">
      <card-products>
        {% form 'cart', cart %}
          {% for item in cart.items %}
            <card-product>
              <div class="w-20">
                {% if item.image %}
                  {% render 'image', image: item.image, url: item.url, width: 150, height: 150 %}
                {% endif %}
              </div>
              <div class="card-product-content">
                <p>{{ item.product.title }}</p>
                {{ 'cart.remove' | t | link_to: item.url_to_remove }}
              </div>
              <div class="card-product-quantity">
                <input type="text" name="updates[]" value="{{ item.quantity }}">
                <input type="submit" value="{{ 'cart.update' | t }}">
              </div>
            </card-product>
          {% endfor %}
        {% endform %}
      </card-products>
    </div>
  </section>
{% endcomment %}
{% comment %}
  <h1>{{ 'cart.title' | t }}</h1>

  <form action="{{ routes.cart_url }}" method="post">
    <table>
      {% for item in cart.items %}
        <tr>
          <td style="width: 150px; height: 150px;">
            {% if item.image %}
              {% render 'image', image: item.image, url: item.url, width: 150, height: 150 %}
            {% endif %}
          </td>
          <td>
            <p>{{ item.product.title }}</p>
            {{ 'cart.remove' | t | link_to: item.url_to_remove }}
          </td>
          <td>
            <input type="text" name="updates[]" value="{{ item.quantity }}">
            <input type="submit" value="{{ 'cart.update' | t }}">
          </td>
        </tr>
      {% endfor %}
    </table>

    <input type="submit" name="checkout" value="{{ 'cart.checkout' | t }}">
  </form>
{% endcomment %}
{% schema %}
{
  "name": "t:general.cart",
  "settings": []
}
{% endschema %}
