{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<section class="pb-40">
  <div class="container">
    <collection-filters data-collection-handle="{{ collection.handle }}" data-section-id="{{ section.id }}">
      <div class="grid md:grid-cols-[300px_auto] gap-5">
        <div>
          <div>
            <div class="border border-black/10 py-5 px-6 rounded-[20px]">
              <div class="border-b border-b-black/10 pb-6 mb-6">
                <h6 class="font-bold flex gap-2 justify-between items-center">
                  <span>Filters</span>
                  {% render 'icon', icon: 'filter', class: 'size-6' %}
                </h6>
              </div>
              <fieldset>
                <div class="active-filters flex flex-wrap gap-2 mb-6 empty:hidden">
                  {%- for filter in collection.filters -%}
                    {%- for value in filter.active_values -%}
                      <button
                        type="button"
                        data-remove-url="{{ value.url_to_remove }}"
                        class="button small text-sm bg-gray-200 text-gray-500"
                      >
                        {{ value.label }} &times;
                      </button>
                    {%- endfor -%}
                  {%- endfor -%}
                </div>
                {%- for filter in collection.filters -%}
                  <filter-accordion
                    id="accordion-{{ forloop.index }}"
                    class="block {% unless forloop.last %} border-b border-b-black/10 {% endunless %} pb-6 mb-6 filter-accordion"
                  >
                    <h6
                      href="{{ filter.url }}"
                      class="font-bold flex gap-2 justify-between items-center cursor-pointer filter-accordion-header"
                    >
                      <span>{{ filter.label }}</span>
                      {% render 'icon',
                        icon: 'down-chevron',
                        class: 'size-3 transition-all rotate-180 in-[.accordion-closed]:rotate-0'
                      %}
                    </h6>
                    <div class="overflow-hidden filter-accordion-content">
                      <div class="pt-5 flex flex-wrap gap-2">
                        {% if filter.type == 'list' or filter.type == 'boolean' %}
                          {% for value in filter.values %}
                            <div class="variants-{{ filter.label | handleize }}">
                              <div class="radio-button small">
                                <input
                                  name="{{ value.param_name }}"
                                  data-add-url="{{ value.url_to_add }}"
                                  data-remove-url="{{ value.url_to_remove }}"
                                  value="{{ value.value }}"
                                  {% if value.active %}
                                    checked
                                  {% endif %}
                                  id="filter-{{ filter.label|handleize }}-{{ value.label|handleize }}"
                                  type="checkbox"
                                >
                                <label
                                  {% if filter.presentation == 'swatch' %}
                                    style="background-color: {{ value.swatch.color }};"
                                  {% endif %}
                                  for="filter-{{ filter.label|handleize }}-{{ value.label|handleize }}"
                                >
                                  {{- value.label -}}
                                </label>
                              </div>
                            </div>
                          {% endfor %}
                        {% elsif filter.type == 'price_range' %}
                          <div class="flex gap-4 items-center w-full">
                            <span class="text-sm font-medium">Min: </span>
                            <input
                              class="w-36"
                              type="range"
                              oninput="this.nextElementSibling.value = '{{ cart.currency.symbol }} '+this.value"
                              min="{{ filter.range_min | divided_by: 100 }}"
                              max="{{ filter.range_max | divided_by: 100 }}"
                              {% if filter.min_value.value %}
                                value="{{ filter.min_value.value | divided_by: 100 }}"
                              {% else %}
                                value="0"
                              {% endif %}
                              name="{{ filter.min_value.param_name }}"
                              placeholder="Min Price"
                              value="{{ filter.active_values | where: 'param_name', filter.min_value.param_name | first | default: '' }}"
                            >
                            <output class="shrink-0 ml-auto inline-block">
                              {{ cart.currency.symbol }}
                              {{ filter.min_value.value | divided_by: 100 -}}
                            </output>
                          </div>
                          <div class="flex gap-4 items-center w-full">
                            <span class="text-sm font-medium">Max: </span>
                            <input
                              class="w-36"
                              type="range"
                              oninput="this.nextElementSibling.value = '{{ cart.currency.symbol }} '+this.value"
                              min="{{ filter.range_min | divided_by: 100 }}"
                              max="{{ filter.range_max | divided_by: 100 }}"
                              name="{{ filter.max_value.param_name }}"
                              {% if filter.max_value.value %}
                                value="{{ filter.max_value.value | divided_by: 100 }}"
                              {% else %}
                                value="{{ filter.range_max | divided_by: 100 }}"
                              {% endif %}
                              placeholder="Max Price"
                            >
                            <output class="shrink-0 ml-auto inline-block">
                              {{ cart.currency.symbol }}
                              {%- if filter.max_value.value -%}
                                {{ filter.max_value.value | divided_by: 100 }}
                              {%- else -%}
                                {{ filter.range_max | divided_by: 100 }}
                              {%- endif -%}
                            </output>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </filter-accordion>
                {%- endfor -%}
              </fieldset>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div class="mb-4 flex-col lg:flex-row flex lg:items-center justify-between gap-4">
              <h1 class="h4 font-sans font-bold">{{ collection.title }}</h1>
              <div class="flex flex-col lg:flex-row lg:items-center gap-3">
                <span class="text-black/60"
                  >Showing {{ collection.products_count -}}
                  of {{ collection.all_products_count }} Products
                </span>
                <div class="flex items-center gap-3">
                  <label class="text-black/60" for="sort">Sort by: </label>
                  <select name="sort" class="sort ml-auto lg:ml-0">
                    {% for option in collection.sort_options %}
                      <option
                        value="{{ option.value }}"
                        {% if option.value == collection.sort_by %}
                          selected
                        {% endif %}
                      >
                        {{ option.name }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            {% paginate collection.products by 6 %}
              <div class="grid md:grid-cols-3 xl:grid-cols-3 gap-5 mb-10">
                {% for product in collection.products %}
                  {% render 'product-card', product: product %}
                  {% comment %}
                    <div class="collection-product">
                      {% if product.featured_image %}
                        {% render 'image',
                          class: 'collection-product__image',
                          image: product.featured_image,
                          url: product.url,
                          width: 400,
                          height: 400,
                          crop: 'center'
                        %}
                      {% endif %}
                      <div class="collection-product__content">
                        <p>{{ product.title | escape | link_to: product.url }}</p>
                        <p>{{ product.price | money }}</p>
                      </div>
                    </div>
                  {% endcomment %}
                {% endfor %}
              </div>

              <div class="pagination">
                {{- paginate | default_pagination -}}
              </div>
            {% endpaginate %}
          </div>
        </div>
      </div>
    </collection-filters>
  </div>
</section>

{% stylesheet %}
  .collection-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
