<header class="bg-white">
  <div class="container">
    <div class="flex gap-10 items-center h-20  {% unless template == 'index' %} border-b border-black/10 {% endunless %}">
      <div class="lg:hidden relative z-3 in-[.mobile-menu-open]:z-4">
        <button
          class="size-10 flex flex-col gap-1.5 justify-center items-center cursor-pointer"
          id="mobile-menu-button"
        >
          <span
            class="h-0.5 w-7 bg-black transition-all relative origin-center in-[.mobile-menu-open]:rotate-45 in-[.mobile-menu-open]:top-1.75"
          ></span>
          <span class="h-0.5 w-7 bg-black in-[.mobile-menu-open]:hidden"></span>
          <span
            class="h-0.5 w-7 bg-black transition-all relative origin-center in-[.mobile-menu-open]:-rotate-45 in-[.mobile-menu-open]:-top-0.25"
          ></span>
        </button>
      </div>
      {% if shop.brand.logo != blank %}
        {%- assign logo_alt = shop.brand.logo.alt | default: shop.name | escape -%}
        <div class="logo">
          {{ shop.brand.logo | image_url: width: 160 | image_tag: alt: logo_alt | link_to: routes.root_url }}
        </div>
      {% else %}
        <div class="logo">
          {{ section.settings.title | link_to: routes.root_url }}
        </div>
      {% endif %}
      <div class="hidden lg:block">
        <header-menu>
          <ul class="flex">
            {% for link in section.settings.menu.links %}
              <li class="relative header-link group">
                <a class="inline-flex relative group pr-6 px-3" href="{{link.url}}">
                  <span class="inline-block h-20 overflow-hidden">
                    <span class="relative flex flex-col group-hover:-translate-y-20 transition-transform duration-300">
                      <span class="inline-flex items-center h-20">{{ link.title }}</span>
                      <span class="inline-flex items-center h-20 text-gray-900">{{ link.title }}</span>
                    </span>
                  </span>
                  {% if link.links != blank %}
                    {% render 'icon', icon: 'down-arrow', class: 'absolute top-1 bottom-0 right-0 my-auto size-3' %}
                  {% endif %}
                </a>
                {% if link.links != blank %}
                  <div
                    class="header-link-content absolute top-30 left-0 w-50 z-1 overflow-hidden transition-all duration-100 opacity-0 h-0"
                    style="height: 0px;"
                  >
                    <div class="p-2">
                      <div class="bg-white shadow rounded-md border border-gray-100 w-full">
                        <div class="p-1 w-full">
                          <ul class="flex flex-col gap-1">
                            {% for childlink in link.links %}
                              <li>
                                <a
                                  href="{{ childlink.url }}"
                                  class="block px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:bg-gray-100"
                                >
                                  {{ childlink.title }}
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </header-menu>
      </div>
      <search-form class="flex-1 relative search-component hidden md:block">
        <form action="{{ routes.search_url }}">
          <input type="hidden" name="type" value="product,page">
          <input type="hidden" name="options[unavailable_products]" value="hide">
          <input
            type="text"
            placeholder="Search for products..."
            name="q"
            class="text-input pl-12"
            value="{{ search.terms | escape }}"
          >
          {% render 'icon', icon: 'search', class: 'absolute top-3.5 left-4 size-5 text-black/40' %}
          <button
            type="button"
            class="clear hidden justify-center items-center size-5 absolute top-3.5 right-2 z-1 cursor-pointer"
          >
            ×
          </button>
        </form>
      </search-form>

      <div class="flex gap-6 ml-auto lg:ml-0">
        <div class="md:hidden">
          <button id="search-menu-button" class="size-10 flex justify-center items-center cursor-pointer">
            <svg class="size-4.5" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.9399 18.348L15.4877 13.8939C16.8226 12.1544 17.4458 9.97216 17.2309 7.78998C17.0161 5.60781 15.9792 3.58907 14.3306 2.14328C12.6821 0.697486 10.5453 -0.0670986 8.35376 0.00462578C6.16221 0.0763502 4.07999 0.979013 2.5295 2.5295C0.979013 4.07999 0.0763502 6.16221 0.00462578 8.35376C-0.0670986 10.5453 0.697486 12.6821 2.14328 14.3306C3.58907 15.9792 5.60781 17.0161 7.78998 17.2309C9.97216 17.4458 12.1544 16.8226 13.8939 15.4877L18.3499 19.9445C18.4545 20.0492 18.5787 20.1322 18.7155 20.1888C18.8522 20.2455 18.9987 20.2746 19.1467 20.2746C19.2947 20.2746 19.4413 20.2455 19.578 20.1888C19.7147 20.1322 19.839 20.0492 19.9436 19.9445C20.0482 19.8399 20.1313 19.7157 20.1879 19.5789C20.2445 19.4422 20.2737 19.2957 20.2737 19.1477C20.2737 18.9997 20.2445 18.8531 20.1879 18.7164C20.1313 18.5797 20.0482 18.4554 19.9436 18.3508L19.9399 18.348ZM2.26891 8.64392C2.26891 7.38306 2.6428 6.15052 3.3433 5.10215C4.04379 4.05379 5.03943 3.23669 6.20431 2.75418C7.36919 2.27167 8.65099 2.14543 9.88762 2.39141C11.1242 2.63739 12.2602 3.24455 13.1517 4.13611C14.0433 5.02767 14.6504 6.16359 14.8964 7.40021C15.1424 8.63684 15.0162 9.91864 14.5336 11.0835C14.0511 12.2484 13.234 13.244 12.1857 13.9445C11.1373 14.645 9.90477 15.0189 8.64392 15.0189C6.95369 15.0172 5.3332 14.345 4.13803 13.1498C2.94286 11.9546 2.27065 10.3341 2.26891 8.64392Z" fill="currentColor"></path>
            </svg>
          </button>
        </div>
        <ul class="flex items-center gap-6">
          <li>
            <cart-button>
              <a href="{{ routes.cart_url }}" class="relative inline-block cart-button">
                {% if cart.item_count > 0 %}
                  <sup class="text-xs absolute -top-2 -right-2 bg-red-500 text-white rounded-full px-1 z-1 aspect-auto size-4">
                    {{ cart.item_count }}
                  </sup>
                {% endif %}
                {% render 'icon', icon: 'cart', class: 'size-6' %}
              </a>
            </cart-button>
          </li>
          <li>
            <a href="{{ routes.account_url }}">
              {% render 'icon', icon: 'account', class: 'size-5' %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}

{% comment %}
  <header>
    <h2 class="header__title">
      {{ shop.name | link_to: routes.root_url }}
    </h2>

    <div class="header__menu">
      {% for link in section.settings.menu.links %}
        {{ link.title | link_to: link.url }}
      {% endfor %}
    </div>

    <div class="header__icons">
      {% if shop.customer_accounts_enabled %}
        <shopify-account menu="{{ section.settings.customer_account_menu }}">
          {{ 'icon-account.svg' | inline_asset_content }}
        </shopify-account>
      {% endif %}

      <a href="{{ routes.cart_url }}">
        {% if cart.item_count > 0 %}
          <sup>{{ cart.item_count }}</sup>
        {% endif %}

        {{ 'icon-cart.svg' | inline_asset_content }}
      </a>
    </div>
  </header>

  {% stylesheet %}
    header {
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    header a {
      position: relative;
      text-decoration: none;
      color: var(--color-foreground);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    header a sup {
      position: absolute;
      left: 100%;
      overflow: hidden;
      max-width: var(--page-margin);
    }
    header svg {
      width: 2rem;
    }
    header .header__menu,
    header .header__icons {
      display: flex;
      gap: 1rem;
    }
  {% endstylesheet %}

  {% schema %}
  {
    "name": "t:general.header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "t:labels.menu"
      },
      {
        "type": "link_list",
        "id": "customer_account_menu",
        "label": "t:labels.customer_account_menu",
        "default": "customer-account-main-menu"
      }
    ]
  }
  {% endschema %}
{% endcomment %}
